---
---

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin blur($value) {
	filter: blur($value);
	-moz-filter: blur($value);
	-webkit-filter: blur($value);
	-o-filter: blur($value);
	-ms-filter: blur($value);
}

@mixin transition-filter($value) {
	transition: 
		filter $value, 
		-moz-filter $value,
		-webkit-filter $value,
		-o-filter $value,
		-ms-filter $value;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.sidebar-about h1 {
	font-family: 'Roboto Slab';
}

.social-media-list {
	@include clearfix;

	list-style-type: none;
	padding-left: 0;

	li {
		display: inline-block;
		margin: 0 0.25em;
	}

	img, svg {
		width: 32px;
		height: 32px;
	}
}

ul.projects-list {
	@include clearfix;

	list-style-type: none;
	padding-left: 0;

	li {
		width: 50%;
		padding-bottom: 33%;
		float: left;
		position: relative;
		overflow: hidden;

		a {
			display: block;
			height: 100%;
			text-align: center;
		}

		img {
			border-radius: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 150%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			img {
				@include blur(5px);
			}

			.overlay {
				opacity: 0.9;
				transform: scale(1);
			}
		}
	}

	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transform: scale(1.2);
		transition: transform 0.3s, opacity 0.3s;
		
		h2 {
			color: white;
			font-size: 0.9em;
			text-align: center;
			text-transform: uppercase;
			margin: 0 0.5em;
		}

		.project-date {
			color: #ddd;
			font-size: 0.75em;
			letter-spacing: 0.2em;
		}
	}
}

.project header p {
	display: block;
  	margin-top: -.5rem;
	margin-bottom: 1rem;
	color: #9a9a9a;	
}

.content img {
	max-width: 100%;
}

.theme-base-fb {
	.sidebar {
		background-color: #061437;
	}

	.content a, .related-posts li a:hover {
		color: #04AB4F;
	}

	.content {
		h1, h2, h3 {
			color: #061437;
		}
	}

	ul.projects-list .overlay {
		background-color: #04AB4F;
	}
}

@media (min-width: 48rem) {
	.social-media-list li {
		margin: 0 0.5em 0 0;
	}
}
