---
title: My work
layout: default
---

<h1 class="page-title">{{ page.title }}</h1>

{{ content }}

<ul class="projects-list">
  {% assign projects = site.projects | sort: "year" %}
  {% for project in projects reversed %}
    <li>
      <a href="{{ project.url }}">
        {% if project.thumbnail %}
          <img src="{{ project.thumbnail }}" alt="{{ project.title }}">
        {% else %}
          <img src="{{ site.base_url }}/public/images/project-thumbnail.png" alt="{{ project.title }}">
        {% endif %}
        <div class="overlay">
          <span class="project-date">{{ project.year }}</span>
          <h2>{{ project.title }}</h2>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
