---
layout: default
---

<article class="project">
	<header>
		<h1 class="post-title">{{ page.title }}</h1>
		<p>
			<span>{{ page.year }}</span>
			{% if page.website %}
	  			| <a href="http://{{ page.website }}">{{ page.website }}</a>
	  		{% endif %}
	  		{% if page.github %}
	  			| <a href="http://github.com/{{ page.github }}">github</a>
	  		{% endif %}
		</p>
	</header>

	{% if page.thumbnail %}
		<a href="{{ page.thumbnail }}">
			<img src="{{ page.thumbnail }}" alt="{{ page.title }}">
		</a>
	{% endif %}

	{{ content }}
</article>
